<header role="banner">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
    <figure>
            <img src="/logo-minimal.svg" alt="logo scidelice.com" loading="eager">
            <figcaption class="tagline">
                {{ title }}
            </figcaption>
    </figure>
</a>

    <form role="search" action="./search/" aria-label="Main nav">
        <input type="search" name="q" title="Saisir une recherche" />
        <button type="submit" title="Lancer une recherche"><span class="material-symbols-outlined"
                aria-hidden="true">search</span></button>
    </form>

    <nav aria-label="Scidélice">
        <ul class="menubar-navigation" role="menubar" aria-label="Scidélice">
            <li role="none">
                <a role="menuitem" href="#home">
                  Home
                </a>
              </li>
        </ul>
    </nav>

    <nav>
        <ul>
            <fieldset>
                <legend>Choisir un volet:</legend>
                <div>
                    <input type="radio" id="huey" name="drone" value="huey" checked />
                    <label for="huey">Huey</label>
                </div>

                <div>
                    <input type="radio" id="dewey" name="drone" value="dewey" />
                    <label for="dewey">Dewey</label>
                </div>

                <div>
                    <input type="radio" id="louie" name="drone" value="louie" />
                    <label for="louie">Louie</label>
                </div>
            </fieldset>
        </ul>
        <section id="outils">

        </section>
        <section id="decks">

        </section>
        <section id="a-propos">

        </section>
        <section id="profil">

        </section>
        <!-- 
        <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">À propos</a>
        <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
        <a routerLink="/ingredients" routerLinkActive="active" ariaCurrentWhenActive="page">Ingrédients</a> -->
    </nav>

    <menu>
        <input type="checkbox" role="switch" title="Basculer le thème" />

        <button (click)="toggleLogin()" title="{{ isLoggedIn ? 'Déconnexion':'Connexion' }}">
            @if (isLoggedIn) {
            <a routerLink="/logout" class="material-symbols-outlined" aria-hidden="true">logout</a>
            }
            @else {
            <a routerLink="/login" class="material-symbols-outlined" aria-hidden="true">login</a>
            }
        </button>
    </menu>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <span>
        <h3>A propos de nous</h3>
        <p>
            Notre mission chez Scidélice est de rendre l'apprentissage de la cuisine ludique et enrichissant. Nous
            offrons
            aux passionnés de la cuisine de tous horizons les moyens de se familiariser avec les principes scientifiques
            derrière la cuisine en partageant des connaissances et des astuces culinaires basées sur la science.
        </p>
    </span>
    <span>
        <h3>En savoir plus</h3>
        <ul>
            <li><a href="">Nous contacter</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Conditions d'utilisations</a></li>
            <li><a href="">Politique de Confidentialité</a></li>
        </ul>
    </span>
    <!-- <a href="{{ footerUrl }}">{{ footerLink }}</a> -->
</footer>