<header>
    <h1>
        <figure>
            <a routerLink="/">
                <!-- <img src='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><text x="50%" y="50%" font-size="12" dominant-baseline="central" text-anchor="middle">🧔🏻</text></svg>'
                    alt="scidelice.com" /> -->
                    <img src="/logo.png" alt="logo scidelice.com" loading="eager" width="109px" height="109px">{{ title }}
            </a>
        </figure>
    </h1>

    <form role="search" action="./search/" aria-label="Main nav">
        <input type="search" name="q" title="Saisir une recherche" />
        <button type="submit" title="Lancer une recherche"><span class="material-symbols-outlined" aria-hidden="true">search</span></button>
    </form>

    <nav>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
        <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
    </nav>

    <menu>
        <input type="checkbox" role="switch" title="Basculer le thème" />

        <button (click)="toggleLogin()" title="{{ isLoggedIn ? 'Déconnexion':'Connexion' }}">
            @if (isLoggedIn) {
                <a routerLink="/logout" class="material-symbols-outlined" aria-hidden="true">logout</a>
            }
            @else {
                <a routerLink="/login" class="material-symbols-outlined" aria-hidden="true">login</a>
            }
        </button>
    </menu>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <a href="{{ footerUrl }}">{{ footerLink }}</a>
 </footer>