:host {
    display: grid;
    min-height:100vh;
    grid:"header" min-content "main" 1fr "footer" min-content / 1fr;
}

header {
    grid-area: header;
    position: sticky;
    top: 0;

    gap:1rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid var(--border-size) var(--color-accent);
    background: Canvas;
    color: CanvasText;
    h1 {
        *{
            display: flex;
            align-items: center;
            gap:1rem;
            font-size: var(--font-size-20);
        }
    }
}

nav{
    display: flex;
    gap:1rem;
}

a {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: var(--color-accent);
    }
    &:visited {
        color: var(--color-link);
    }
}

menu{
    display: flex;
    padding: 0;
    justify-content: center;
    & button{
        background-color: transparent;
        border: none;
     }
}



[role="search"] {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    

    & [type="submit"] {
        background: unset;
        border: unset;
    }

    & input {
        border-radius: 5pt;
        border-width: 1px;
        border: var(--border-default);
        transition: flex .2s ease-in-out;
        flex: 0;
        padding: .5ch;
        &:focus{
            flex:1;
        }
    }

    & label {
        inline-size: max-content;
    } 
}

footer {
    grid-area: footer;
    outline: solid 1px;
    height: 100px;
    display: flex;
    place-content: center;
    align-items: center;
}

main {
    grid-area: main;
    height: 100%;
}