<section>
    HERO: Apprenons ensemble, une bouchée à la fois!
    <form role="search" action="./search/" aria-label="Hero nav">
        <input type="search" name="q" title="Saisir une recherche" />
        <button type="submit" title="Lancer une recherche"><span class="material-symbols-outlined" aria-hidden="true">search</span></button>
    </form>
</section>
<section>
    Recette du jour
</section>
<section>
    Idées frigo
</section>
<section>
    Quizinnez!
</section>
<!-- 
<section class="deck" [style]='"--count:"+ (articles.length)'>
 @for(article of articles; track article){
        <article [style]='"--index:"+ $index'>
            <h2>{{ article.title }}</h2>
            <figure>
                <img src="{{ article.img }}" alt="{{ article.img_alt }}" />
                <figcaption>{{ article.caption }}</figcaption>
            </figure>
            <p>{{ article.summary }}</p>
            <a href="{{ article.url }}" class="internal"><span>Read more</span><span class="material-symbols-outlined">open_in_new</span></a>
        </article>
    }
</section>
-->
<section>
    Articles du jour (cartes)
     @for(article of articles; track article){
        <article [style]='"--index:"+ $index'>
            <h2>{{ article.title }}</h2>
            <figure>
                <img src="{{ article.img }}" alt="{{ article.img_alt }}" />
                <figcaption>{{ article.caption }}</figcaption>
            </figure>
            <p>{{ article.summary }}</p>
            <a href="{{ article.url }}" class="internal"><span>Read more</span><span class="material-symbols-outlined">open_in_new</span></a>
        </article>
    }
</section>