<section class="hero">
    <!-- Alternative tagline: Apprenons ensemble, une bouchée à la fois! -->
    <h2>Découvrer une sélection de <a href="">recettes</a>, <a href="">techniques</a>, <a href="">principes</a>, et plus encore!</h2>
    <form role="search" action="./search/" aria-label="Hero nav" (submit)="$event.preventDefault()">
        <input
          #userInput
          (input)="userInputValue=userInput.value; filterArticles()"
          type="search"
          name="q"
          title="Cherchez par ingrédient, outil, astuce,.."
        />
        <button type="submit" title="Lancer une recherche">
          <span class="material-symbols-outlined" aria-hidden="true">search</span>
        </button>
        <output>
          {{ filteredArticles.length }} article{{ filteredArticles.length > 1 ? "s" : "" }} trouvé{{ filteredArticles.length > 1 ? "s" : "" }}
        </output>
      </form>
</section>
<section>
    <h2>Recette du jour</h2>
</section>
<section>
    <h2>Idées frigo</h2>
</section>
<section>
    <h2>Quizinnez!</h2>
</section>
<!-- 
<section class="deck" [style]='"--count:"+ (articles.length)'>
 @for(article of articles; track article){
        <article [style]='"--index:"+ $index'>
            <h2>{{ article.title }}</h2>
            <figure>
                <img src="{{ article.img }}" alt="{{ article.img_alt }}" />
                <figcaption>{{ article.caption }}</figcaption>
            </figure>
            <p>{{ article.summary }}</p>
            <a href="{{ article.url }}" class="internal"><span>Read more</span><span class="material-symbols-outlined">open_in_new</span></a>
        </article>
    }
</section>
-->

<!-- Note: Ajouter content-visibility: auto; pour charger la liste plus rapidemment -->
<section>
    @for (article of filteredArticles; track article) {
        <article [style]='"--index:"+ $index'>
          <h2>{{ article.title }}</h2>
          <figure>
            <img src="{{ article.img }}" alt="{{ article.img_alt }}" />
            <figcaption>{{ article.caption }}</figcaption>
          </figure>
          <p>{{ article.summary }}</p>
          <a href="{{ article.url }}" class="internal">
            <span>Read more</span><span class="material-symbols-outlined">open_in_new</span>
          </a>
        </article>
      }
      
</section>