.hero{
    text-align: center;
}
.deck {
    display: grid;
    height: 100%;
    place-content: center;
    content-visibility: auto;

    article {
        --angle:5deg;
        --aspect-ratio: 2.75/4.75;
        --offset-rotation:calc(var(--offset) * var(--angle));
        --offset-translation-x:calc(var(--offset) * 40cqw/var(--count));
        --offset-translation-y:var(--y, -40px);
        --offset-translation:var(--offset-translation-x), var(--offset-translation-y);
        --offset: calc(((1 - var(--count))/2) + var(--index));
        
        background-color: var(--color-bg-default);
        border-radius: .5rem;
        grid-area: stack;
        height: 600px;
        max-height: 50vh;
        outline: solid 1px;
        padding: 2rem;
        transform-origin: 50% 100%;
        transform:rotate(var(--offset-rotation)) translate(var(--offset-translation));
        transition: all 0.5s;
        width: calc(min(600px,50vh) * var(--aspect-ratio));

        &:hover {--y: -90px;}

        h2{
            text-wrap: balance;
        }

        figure {
            margin: 0;
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;
                /* aspect-ratio: 1; */
            }

            figcaption {
                font-style: italic;
            }
        }

        p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

.internal:link {
    margin-block-start: 1rem;
    text-decoration: none;
    outline: solid 1px;
    display: inline-grid;
    grid-auto-flow: row;
    grid-template-columns: max-content min-content;
    place-items: center;
    padding: 1rem;
    gap: 1rem;
    align-content: center;
    color: var(--color-link);
}